target/

.env
.env.example
*.log

.git
.gitignore
.github/

tests/
benches/
scripts/
rustfmt.toml

Dockerfile
docker-compose.yml
docker-compose.db.yml
compose.prod.yml

README.md
LICENSE
.vscode/
.idea/